root = true

[*]
indent_style = space
end_of_line = crlf
indent_size = 2
# Not actually supported by the VS plugin; here for other editors.
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_size = 4
